<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.homemaking.business.dao.BusInquiryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.company.homemaking.business.entity.BusInquiry">
        <id column="id" property="id" />
        <result column="fk_customer_id" property="fkCustomerId" />
        <result column="fk_sale_project_id" property="fkSaleProjectId" />
        <result column="fk_worker_id" property="fkWorkerId" />
        <result column="first_price" property="firstPrice" />
        <result column="second_price" property="secondPrice" />
        <result column="back_price" property="backPrice" />
        <result column="last_price" property="lastPrice" />
        <result column="inquiry_round" property="inquiryRound" />
        <result column="if_worker_affirm" property="ifWorkerAffirm" />
        <result column="memo" property="memo" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
        <result column="if_delete" property="ifDelete" />
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithOtherInfo" type="com.company.homemaking.business.vo.inquiry.InquiryVO">
        <result column="customer_mobile" property="customerMobile" />
        <result column="customer_name" property="customerName" />
        <result column="project_name" property="projectName" />
        <result column="worker_name" property="workerName" />
        <result column="worker_code" property="workerCode" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, fk_customer_id, fk_sale_project_id, fk_worker_id, first_price, second_price, back_price, last_price, inquiry_round, if_worker_affirm, memo, create_date, update_date, if_delete
    </sql>

    <select id="getInquiryList" resultMap="ResultMapWithOtherInfo" parameterType="com.company.homemaking.business.vo.inquiry.InquiryQueryVO">
        SELECT
        ti.id,
        ti.fk_customer_id,
        ti.fk_sale_project_id,
        ti.fk_worker_id,
        ti.first_price,
        ti.second_price,
        ti.back_price,
        ti.last_price,
        ti.inquiry_round,
        ti.if_worker_affirm,
        ti.memo,
        ti.create_date,
        ti.update_date,
        tc.phone_number customer_mobile,
        tc.true_name customer_name,
        tsp.`name` project_name,
        tw.true_name worker_name,
        tw.`code` worker_code
        FROM
        tb_inquiry ti,
        tb_customer tc,
        tb_worker tw,
        tb_sale_project tsp
        WHERE
        ti.fk_customer_id = tc.id
        AND ti.fk_worker_id = tw.id
        AND ti.fk_sale_project_id = tsp.id
        <if test="workerCode != null">
            AND tw.`code` = #{workerCode}
        </if>
        <if test="customerName != null">
            AND tc.true_name LIKE CONCAT('%',#{customerName},'%')
        </if>
        <if test="customerMobile != null">
            AND tc.phone_number LIKE CONCAT('%',#{customerMobile},'%')
        </if>
        <if test="workerName != null">
            AND tw.true_name LIKE CONCAT('%',#{workerName},'%')
        </if>
        <if test="projectName != null">
            AND tsp.`name` LIKE CONCAT('%',#{projectName},'%')
        </if>
        <if test="fkProjectId != null">
            AND tsp.id = #{fkProjectId}
        </if>
    </select>

</mapper>
