<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.homemaking.business.dao.BusOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.company.homemaking.business.entity.BusOrder">
        <id column="id" property="id" />
        <result column="order_code" property="orderCode" />
        <result column="fk_customer_id" property="fkCustomerId" />
        <result column="customer_name" property="customerName" />
        <result column="customer_address" property="customerAddress" />
        <result column="customer_mobile" property="customerMobile" />
        <result column="fk_worker_id" property="fkWorkerId" />
        <result column="worker_name" property="workerName" />
        <result column="worker_code" property="workerCode" />
        <result column="fk_project_id" property="fkProjectId" />
        <result column="sale_name" property="saleName" />
        <result column="customer_memo" property="customerMemo" />
        <result column="price" property="price" />
        <result column="schedule_start_date" property="scheduleStartDate" />
        <result column="schedule_end_date" property="scheduleEndDate" />
        <result column="work_start_date" property="workStartDate" />
        <result column="work_end_date" property="workEndDate" />
        <result column="status" property="status" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
        <result column="if_delete" property="ifDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_code, fk_customer_id, customer_name, customer_address, customer_mobile, fk_worker_id, worker_name, worker_code, fk_project_id, sale_name, customer_memo, price, schedule_start_date, schedule_end_date, work_start_date, work_end_date, status, create_date, update_date, if_delete
    </sql>

</mapper>
