<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.homemaking.consumer.dao.SaleProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.company.homemaking.consumer.entity.SaleProject">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="fk_category_id" property="fkCategoryId" />
        <result column="avg_price" property="avgPrice" />
        <result column="sale_name" property="saleName" />
        <result column="owner_type" property="ownerType" />
        <result column="fk_worker_id" property="fkWorkerId" />
        <result column="if_delete" property="ifDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, fk_category_id, avg_price, sale_name, owner_type, fk_worker_id, if_delete
    </sql>

</mapper>
