<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.homemaking.consumer.dao.WorkerBaojieInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.company.homemaking.consumer.entity.WorkerBaojieInfo">
        <id column="id" property="id" />
        <result column="fk_worker_id" property="fkWorkerId" />
        <result column="work_begin_date" property="workBeginDate" />
        <result column="work_region" property="workRegion" />
        <result column="self_description" property="selfDescription" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, fk_worker_id, work_begin_date, work_region, self_description
    </sql>

</mapper>
